<template>
  <div>
    <p class="font-bold">Credits:</p>
    <div class="flex">
      <p>
        {{ credits.join(", ") }}
        <span v-if="creditsList.length > 10"
          >and {{ creditsList.length - 10 }} more...</span
        >
      </p>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Credits",
  props: ["movieId"],
  created() {
    this.fetchData(this.movieId);
  },
  computed: {
    credits() {
      var temp = this.creditsList.filter((credit, index) => {
        return index < 10;
      });
      return temp.map((credit) => {
        return credit.name;
      });
    },
  },
  data() {
    return {
      creditsList: [],
    };
  },
  methods: {
    ...mapActions("movies", ["getMovieCredits"]),
    fetchData(id) {
      this.getMovieCredits(id).then((credits) => {
        this.creditsList = credits.cast;
        this.creditsList.sort((a, b) => {
          return b.popularity - a.popularity;
        });
      });
    },
  },
};
</script>

<style></style>
