<template>
  <div class="flex flex-col mx-20 my-10 gap-y-4 w-1/2">
    <div class="flex justify-between">
      <p class="font-bold text-sm">Budget</p>
      <p class="text-sm">
        {{ moneyFormat(movieInfo.budget) }}
      </p>
    </div>
    <div class="flex justify-between">
      <p class="font-bold text-sm">Revenue</p>
      <p class="text-sm">
        {{ moneyFormat(movieInfo.revenue) }}
      </p>
    </div>
    <div class="flex justify-between">
      <p class="font-bold text-sm">Realease</p>
      <p class="text-sm">{{ movieInfo.release_date }}</p>
    </div>
    <div class="flex justify-between">
      <p class="font-bold text-sm">Runtime</p>
      <p class="text-sm">
        {{ timeFormat(movieInfo.runtime) }}
      </p>
    </div>
    <div class="flex justify-between">
      <p class="font-bold text-sm">Score</p>
      <div class="flex text-sm gap-x-1">
        <ScoreRate :score="movieInfo.vote_average" />
        <p class="self-center">{{ movieInfo.vote_average }}</p>
        <p class="text-xs self-center">({{ movieInfo.vote_count }})</p>
      </div>
    </div>
    <div class="flex justify-between">
      <p class="font-bold text-sm">Genres</p>
      <p class="text-sm">
        {{ movieInfo.genres.map((item) => item.name).join(", ") }}
      </p>
    </div>
    <div class="flex justify-between">
      <p class="font-bold text-sm">IMDB Link</p>
      <p class="text-sm">
        <a
          class="text-blue-500 hover:text-blue-700 underline"
          target="_blank"
          :href="movieInfo.homepage"
          >Link</a
        >
      </p>
    </div>
    <div class="flex justify-between">
      <p class="font-bold text-sm">Homepage Link</p>
      <p class="text-sm">
        <a
          class="text-blue-500 hover:text-blue-700 underline"
          target="_blank"
          :href="'https://www.imdb.com/title/' + movieInfo.imdb_id"
          >Link</a
        >
      </p>
    </div>
  </div>
</template>

<script>
import ScoreRate from "../../components/MoviePage/ScoreRate.vue";
export default {
  name: "Detailes",
  props: ["movieInfo"],
  components: {
    ScoreRate,
  },
  methods: {
    moneyFormat(value) {
      var temp = Intl.NumberFormat("en-US", {
        style: "currency",
        currency: "USD",
      });
      return temp.format(value);
    },
    timeFormat(value) {
      var hours = value / 60;
      var minutes = value % 60;
      return Math.floor(hours) + "h " + minutes + "m";
    },
  },
};
</script>

<style></style>
