<template>
  <div class="card-header py-3 px-20 flex gap-x-10">
    <button
      type="button"
      class="button-style px-6 rounded-full text-white"
      @click="goBack"
    >
      <div class="flex gap-2">
        <i class="mdi mdi-arrow-left"></i>
        <p>Back</p>
      </div>
    </button>
    <div class="flex-col gap-y-4">
      <h6 class="font-bold">{{ title }}</h6>
      <p class="text-xs font-semibold">{{ tagLine }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Header",
  props: ["title", "tagLine"],
  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>

<style></style>
