<template>
  <div class="grid gap-y-8">
    <div class="flex gap-8">
      <div class="w-1/2">
        <img :src="posterUrl" alt="Poster" class="rounded-lg" />
      </div>
      <Detailes :movieInfo="movieInfo" />
    </div>
    <p class="text-base">{{ movieInfo.overview }}</p>
    <Credits :movieId="movieInfo.id" />
  </div>
</template>

<script>
import Detailes from "../../components/MoviePage/Detailes.vue";
import Credits from "../../components/MoviePage/Credits.vue";
import { mapGetters } from "vuex";
export default {
  name: "Info",
  props: ["movieInfo"],
  components: {
    Credits,
    Detailes,
  },
  computed: {
    ...mapGetters("movies", ["getImageUrl"]),
    posterUrl() {
      return this.getImageUrl("w500", this.movieInfo.poster_path) || "";
    },
  },
};
</script>

<style></style>
