<template>
  <div id="app">
    <AwesomeVueStarRating
      :star="this.star"
      :disabled="this.disabled"
      :maxstars="this.maxstars"
      :starsize="this.starsize"
      :hasresults="hasresults"
      :hasdescription="hasdescription"
    />
  </div>
</template>

<script>
import AwesomeVueStarRating from "awesome-vue-star-rating";
export default {
  name: "ScoreRate",
  props: ["score"],
  components: {
    AwesomeVueStarRating,
  },
  created() {
    this.star = Math.round(this.score);
  },
  data() {
    return {
      star: 5, // default star
      hasresults: false,
      hasdescription: false,
      starsize: "lg", //[xs,lg,1x,2x,3x,4x,5x,6x,7x,8x,9x,10x],
      maxstars: 10,
      disabled: true,
    };
  },
};
</script>

<style lang="scss">
.list span[data-v-3d4e80a7] {
  display: none;
}
.star {
  color: red;
}
.star.active {
  color: red;
}
.list,
.list.disabled {
  &:hover {
    .star {
      color: red !important;
    }
    .star.active {
      color: red;
    }
  }
}
</style>
