<template>
  <div
    class="flex background-color p-1 rounded-md border-2 border-neutral-200 cursor-pointer transition transform ease-in-out hover:scale-105 hover:shadow-lg"
    @click="onClick"
  >
    <div class="w-1/2">
      <img :src="posterUrl" alt="Poster" class="rounded-l-md h-full" />
    </div>
    <div class="w-1/2 grid content-between p-4">
      <p class="text-md font-bold">{{ movieInfo.title }}</p>
      <div>
        <div class="flex">
          <i class="mdi mdi-calendar-month"></i>
          <p class="text-sm">{{ movieInfo.release_date }}</p>
        </div>
        <p class="text-xs">{{ genres }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: ["movieInfo"],
  computed: {
    ...mapGetters("movies", ["getImageUrl", "getGenres"]),
    posterUrl() {
      if (this.movieInfo.poster_path) {
        return this.getImageUrl("w500", this.movieInfo.poster_path);
      } else {
        return "moviePoster.svg";
      }
    },
    genres() {
      var temp = this.getGenres.filter((genre) =>
        this.movieInfo.genre_ids.includes(genre.id)
      );

      return temp
        .map((genre) => {
          return genre.name;
        })
        .join(" ● ");
    },
  },
  methods: {
    onClick() {
      this.$router.push({
        name: "movie",
        params: {
          id: this.movieInfo.id,
        },
      });
    },
  },
};
</script>

<style>
.background-color {
  background-color: #f1f1f1;
}
</style>
