<template>
  <div class="flex-col gap-8 mb-6">
    <div class="flex gap-x-4">
      <p
        @click="previousPage"
        :class="`${
          currentPage == 1
            ? `text-gray-700 cursor-not-allowed`
            : 'text-blue-400 cursor-pointer'
        }`"
      >
        Previous Page
      </p>
      <p class="text-gray-800 text-lg">|</p>
      <p
        @click="nextPage"
        :class="` text-lg ${
          currentPage != totalPage
            ? 'text-blue-400 cursor-pointer'
            : 'text-gray-700 cursor-not-allowed'
        }`"
      >
        Next Page
      </p>
    </div>
    <div class="text-base text-gray-600 flex justify-center">
      Showing Results {{ currentPage }} - {{ totalPage }}
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "Pagination",
  props: ["totalPage"],
  computed: {
    ...mapGetters("movies", {
      currentPage: "getCurrentPage",
    }),
  },
  methods: {
    ...mapMutations("movies", ["SET_PAGINATE"]),
    previousPage() {
      if (this.currentPage > 1) {
        this.SET_PAGINATE(this.currentPage - 1);
        this.$emit("pageChange");
      }
    },
    nextPage() {
      if (this.currentPage < this.totalPage) {
        this.SET_PAGINATE(this.currentPage + 1);
        this.$emit("pageChange");
      }
    },
  },
};
</script>

<style></style>
