<template>
  <div class="card-header py-3 px-10 flex justify-between">
    <div class="w-4/6 flex gap-5 align-baseline">
      <p class="">Search by release date:</p>
      <div class="flex gap-2 w-1/2">
        <date-range-picker v-model="dateRangeTemp" auto-apply class="w-full">
        </date-range-picker>
        <i
          v-if="dateRangeTemp.startDate != ''"
          @click="clear"
          class="mdi mdi-close-circle mt-1 text-gray-600 hover:text-red-500"
        ></i>
      </div>
    </div>
    <div class="w-2/6 flex justify-end">
      <button
        type="button"
        class="button-style py-1 px-3 rounded-full text-white"
        @click="search"
      >
        Search
      </button>
    </div>
  </div>
</template>

<script>
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapMutations, mapGetters } from "vuex";
export default {
  components: { DateRangePicker },
  computed: {
    ...mapGetters("movies", {
      dateRange: "getDateRange",
    }),
  },
  mounted() {
    this.dateRangeTemp = this.dateRange;
  },
  data() {
    return {
      dateRangeTemp: {
        startDate: "",
        endDate: "",
      },
    };
  },
  methods: {
    ...mapMutations("movies", ["SET_RELEASE_DATE", "SET_PAGINATE"]),
    search() {
      this.SET_RELEASE_DATE(this.dateRangeTemp);
      this.SET_PAGINATE(1);
      this.$emit("search");
    },
    clear() {
      this.dateRangeTemp = {
        startDate: "",
        endDate: "",
      };
      this.search();
    },
  },
};
</script>
