<template>
  <div>
    <Loading v-if="loading" />
    <div v-else class="p-5 grid gap-10">
      <Header :tagLine="movieInfo.tagline" :title="movieInfo.title" />
      <div class="grid grid-flow-row-dense gap-4">
        <Info :movieInfo="movieInfo" />
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../../components/MoviePage/Header.vue";
import Loading from "../../components/Loading.vue";
import Info from "../../components/MoviePage/Info.vue";
import { mapActions } from "vuex";
export default {
  name: "MoviePage",
  created() {
    this.fetchData(this.$route.params.id);
  },
  components: {
    Loading,
    Info,
    Header,
  },
  data() {
    return {
      movieInfo: [],
      loading: false,
    };
  },
  methods: {
    ...mapActions("movies", ["getMovie"]),
    fetchData(id) {
      this.loading = true;
      this.getMovie(id)
        .then((movie) => {
          this.movieInfo = movie;
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>
