<template>
  <div>
    <Loading v-if="loading" />
    <div v-else class="p-5 grid gap-10">
      <SearchBox @search="fetchData" />
      <div class="grid grid-flow-row-dense grid-cols-3 gap-6">
        <MovieCard
          v-for="movieInfo in movies"
          :key="movieInfo.id"
          :movieInfo="movieInfo"
        />
      </div>
      <div class="flex justify-center">
        <Pagination :totalPage="totalPage" @pageChange="fetchData" />
      </div>
    </div>
  </div>
</template>

<script>
import SearchBox from "../../components/SearchBox.vue";
import Pagination from "../../components/Pagination.vue";
import MovieCard from "../../components/MovieCard.vue";
import Loading from "../../components/Loading.vue";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Home",
  created() {
    this.fetchData();
  },
  computed: {
    ...mapGetters("movies", {
      dateRange: "getDateRange",
    }),
    ...mapGetters("movies", {
      movies: "getMovies",
    }),
    ...mapGetters("movies", {
      currentPage: "getCurrentPage",
    }),
  },
  components: {
    MovieCard,
    Pagination,
    Loading,
    SearchBox,
  },
  data() {
    return {
      totalPage: 0,
      loading: false,
    };
  },
  methods: {
    ...mapActions("movies", ["getAllMovies", "getAllGenres"]),
    fetchData() {
      this.loading = true;
      this.getAllMovies({ page: this.currentPage, releaseDate: this.dateRange })
        .then((data) => {
          this.getAllGenres();
          this.totalPage = data.total_pages;
          document.body.scrollTop = 0;
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>
