<template>
  <div class="h-screen">
    <header class="header-style w-full h-8"></header>
    <div class="container mx-auto">
      <router-view />
    </div>
  </div>
</template>

<style lang="scss">
.header-style {
  background-color: #11b980;
}
</style>
